*
!/js/src
!/jvm/src
!/shared/src
!/project/build.properties
!/project/plugins.sbt
!/webapp/js/src/main/js/public
!/build.sbt
!/index.css
!/index.html
!/package-lock.json
!/package.json
!/pdf.js
!/postcss.config.cjs
!/tailwind.config.cjs
!/tsconfig.json
!/utils.js
!/vite.config.js
!/.sbtopts
!/webapp/js/src/main/js/.env.lukasschreiber