dev-dist
stats.html
# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

#general
*.class


# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

out/
.vercel

# Local Netlify folder
.netlify

# PDFs in assets
public/*.pdf
screenshots
*.db

peer/.env
