VITE_SELENIUM=false

VITE_DATABASE_VERSION=2

VITE_PROTOCOL_VERSION=2

VITE_SERVER_PROTOCOL=http
VITE_SERVER_HOST=reform.localhost
VITE_SERVER_PATH=/
VITE_SERVER_PORT=8080

VITE_DISCOVERY_SERVER_PROTOCOL=https
VITE_DISCOVERY_SERVER_HOST=reform.st.informatik.tu-darmstadt.de
VITE_DISCOVERY_SERVER_PATH=/api/v1
VITE_DISCOVERY_SERVER_LISTEN_PORT=80
VITE_DISCOVERY_SERVER_PUBLIC_PORT=80

VITE_DISCOVERY_SERVER_WEBSOCKET_PROTOCOL=wss
VITE_DISCOVERY_SERVER_WEBSOCKET_HOST=reform.st.informatik.tu-darmstadt.de
VITE_DISCOVERY_SERVER_WEBSOCKET_PATH=/discovery-server-websocket
VITE_DISCOVERY_SERVER_WEBSOCKET_SUBPROTOCOL=discovery-server
VITE_DISCOVERY_SERVER_WEBSOCKET_LISTEN_PORT=7071
VITE_DISCOVERY_SERVER_WEBSOCKET_PUBLIC_PORT=7071

VITE_TURN_SERVER_HOST=reform.st.informatik.tu-darmstadt.de
VITE_TURN_SERVER_PORT=3478

VITE_ALWAYS_ONLINE_PEER_PROTOCOL=ws
VITE_ALWAYS_ONLINE_PEER_HOST=reform.localhost
VITE_ALWAYS_ONLINE_PEER_PATH=/always-online-peer
VITE_ALWAYS_ONLINE_PEER_SUBPROTOCOL=always-online-peer
VITE_ALWAYS_ONLINE_PEER_LISTEN_PORT=1337
VITE_ALWAYS_ONLINE_PEER_PUBLIC_PORT=1337
ALWAYS_ONLINE_PEER_DATABASE_PATH=always-online-peer.db

SMTP_USERNAME=
SMTP_SENDER=
SMTP_PASSWORD=
SMTP_PORT=465
SMTP_HOST=

VITE_DEKANAT_MAIL=luke-schreiber@gmx.de

VITE_CONTRACT_PDF_PATH=/docs/contract.pdf
VITE_LETTER_PDF_PATH=/docs/letter.pdf

JWT_KEY=TESTKEYCHANGEME

TURN_SECRET=TESTKEYCHANGEMETOO

SSO_REDIRECT_URL=get-from-tu
SSO_CLIENT_ID=get-from-tu
SSO_CLIENT_SECRET=get-from-tu

