DISCOVERY_SERVER_PROTOCOL=https
DISCOVERY_SERVER_HOST=reform.st.informatik.tu-darmstadt.de
DISCOVERY_SERVER_PATH=/api/v1
DISCOVERY_SERVER_LISTEN_PORT=43547
DISCOVERY_SERVER_PUBLIC_PORT=443

DISCOVERY_SERVER_WEBSOCKET_PROTOCOL=wss
DISCOVERY_SERVER_WEBSOCKET_HOST=reform.st.informatik.tu-darmstadt.de
DISCOVERY_SERVER_WEBSOCKET_PATH=/discovery-server-websocket
DISCOVERY_SERVER_WEBSOCKET_SUBPROTOCOL=discovery-server
DISCOVERY_SERVER_WEBSOCKET_LISTEN_PORT=43545
DISCOVERY_SERVER_WEBSOCKET_PUBLIC_PORT=443

JWT_KEY=TESTKEYCHANGEME
HTTPS=false
TURN_SECRET=TESTKEYCHANGEMETOO
SSO_REDIRECT_URL=get-from-tu
SSO_CLIENT_ID=get-from-tu
SSO_CLIENT_SECRET=get-from-tu

SMTP_USERNAME=
SMTP_SENDER=
SMTP_PASSWORD=
SMTP_PORT=465
SMTP_HOST=