server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root   /app/dist/;

  location /static {
    expires max;
    root   /app/dist/;
    try_files /favicon.ico =404;
  }

  location / {
    expires epoch;
    root   /app/dist/;
    try_files /index.html =404;
  }
}